*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bg{
    width: 100%;
    height: 100%;
    z-index: -99;
    position: absolute;
    background-image: url(bgm.jpg);
    /* background-size: cover; */
}

.wrapper{
    width: 1500px;
    min-width: 1500px;
    margin: 0 auto;
    z-index: 9;
    position: relative;

}


.content{
    position: absolute;
    width: 60%;
    height: 90%;
    padding-top: 2%;
    left: 25%;
    perspective: 2000px;

}
.content .message0{
    width: 100%;
    height: 750px;
    background-color: white;
    position: absolute;
    z-index: 109;
    display: block;
}
.message0 .header0{
    width: 90%;
    height: 40px;
    border-bottom:1px solid #ccc;
    line-height: 40px;
    font-size: 28px;
    font-weight: 200;
    color: rgb(59, 89, 152);
    position: absolute;
    top: 30px;
    left: 5%;
    padding-bottom: 10px;
}
.message0 .information{
    width: 40%;
    height: 250px;
    font-size: 14px;
    color: #777;
    position: relative;
    top: 120px;
    left: 5%;
}
.information .leftMess0{
    width: 90%;
    height: 30px;
    margin: 8px auto;
    border-bottom: 1px solid #eee;
}
.bold{
    font-size: 14px;
    color: rgb(59, 89, 152);
    font-weight: 500;
}
.messinco0{
    background-image: url(messinco0.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.messinco1{
    background-image: url(messinco1.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.messinco2{
    background-image: url(messinco2.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 2px;
}
.messinco3{
    background-image: url(messinco3.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 3px;
}
.messinco4{
    background-image: url(messinco4.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    display: inline-block;
    position: relative;
    left: 2px;
}
.messinco5{
    background-image: url(messinco5.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    display: inline-block;
    position: relative;
    left: 2px;
}


.message0 .bottom0{
    width: 90%;
    height: 350px;
    border-top: rgb(59, 89, 152) 1px solid;
    font-size: 14px;
    color: rgb(59, 89, 152);
    position: absolute;
    top: 400px;
    left: 5%;
}
.bottom0 .education{
    padding-top: 10px;
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #aaa;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3%;
}
.edubold{
    font-size: 16px;
    font-weight: bold;
    color:rgb(59, 89, 152);
}
.bottom0 .experience{
    width: 100%;
    height: 45%;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #333;
    margin-top: 2%;
}
.bgdbold{
    font-size: 16px;
    font-weight: bold;
    color:rgb(59, 89, 152);
}
.content .message1{
    width: 100%;
    height: 750px;
    background-color: white;
    position: absolute;
    z-index: 99;
    display: none;
}
.message1 .header1{
    width: 90%;
    height: 40px;
    border-bottom:1px solid #ccc;
    line-height: 40px;
    font-size: 28px;
    font-weight: 200;
    color: rgb(59, 89, 152);
    position: absolute;
    top: 50px;
    left: 5%;
    padding-bottom: 10px;

}
.message1 .skills{
    width: 43%;
    height: 100%;
    font-size: 14px;
    color: #777;
    position: absolute;
    top: 160px;
    left: 5%; 
}
.skills .office{
    width: 90%;
    height: 150px;
    border-bottom: #ccc 1px solid;
    margin-left: 5%;
    color:rgb(59, 89, 152) ;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}
.offcanvas{
    width: 280px;
    height: 23px;
    background-color: rgb(59, 89, 152);
    margin-top: 14px;
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 23px;
}
.offcanvas0{
    width: 280px;
}
.offExercise0{
    animation: offRigth0 3s;
}
@-webkit-keyframes offRigth0{
    0%{right: 240px}
    100%{right: 0px}
}
.offcanvas1{
    width: 260px;
}
.offExercise1{
    animation: offRigth1 3s;
}
@-webkit-keyframes offRigth1{
    0%{right: 220px}
    100%{right: 0px}
}
.offcanvas2{
    width: 300px;
}
.offExercise2{
    animation: offRigth2 3s;
}
@-webkit-keyframes offRigth2{
    0%{right: 260px}
    100%{right: 0px}
}
.skills .designs{
    width: 90%;
    height: 150px;
    border-bottom: #ccc 1px solid;
    margin-top: 10px;
    margin-left: 5%;
    color:rgb(59, 89, 152) ;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
}
.descanvas{
    width: 300px;
    height: 23px;
    background-color: rgb(59, 89, 152);
    margin-top: 16px;
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 23px;
}
.descanvas0{
    width: 290px;
}
.desExercise0{
    animation: desRigth0 3s;
}
@-webkit-keyframes desRigth0{
    0%{right: 250px}
    100%{right: 0px}
}
.descanvas1{
    width: 280px;
}
.desExercise1{
    animation: desRigth1 3s;
}
@-webkit-keyframes desRigth1{
    0%{right: 240px}
    100%{right: 0px}
}
.descanvas2{
    width: 320px;
}
.desExercise2{
    animation: desRigth2 3s;
}
@-webkit-keyframes desRigth2{
    0%{right: 280px}
    100%{right: 0px}
}
.skills .web{
    width: 90%;
    height: 150px;
    border-bottom: #ccc 1px solid;
    margin-top: 10px;
    margin-left: 5%;
    color:rgb(59, 89, 152) ;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
}
.webcanvas{
    width: 280px;
    height: 23px;
    background-color: rgb(59, 89, 152);
    margin-top: 16px;
    position: relative;
    color: #fff;
    font-size: 12px;
    line-height: 23px;
}
.webcanvas0{
    width: 280px;
}
.webExercise0{
    animation: webRigth0 3s;
}
@-webkit-keyframes webRigth0{
    0%{right: 240px}
    100%{right: 0px}
}
.webcanvas1{
    width: 270px;
}
.webExercise1{
    animation: webRigth1 3s;
}
@-webkit-keyframes webRigth1{
    0%{right: 230px}
    100%{right: 0px}
}
.webcanvas2{
    width: 200px;
}
.webExercise2{
    animation: webRigth2 3s;
}
@-webkit-keyframes webRigth2{
    0%{right: 160px}
    100%{right: 0px}
}
.message1 .experience{
    border-left: solid 2px rgb(59, 89, 152);
    width: 45%;
    height: 500px;
    font-size: 14px;
    color: #777;
    position: relative;
    top: 180px;
    left: 50%;
    position: relative;
}
.experience .jobintension{
    width: 90%;
    height: 30%;
    margin-top: 40px;
    position: absolute;
    left: 10%;
}
.jobintension span{
    display: block;
    width: 100%;
    color: rgb(59, 89, 152);
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: #ccc 1px solid;
}
.experience .ability{
    width: 90%;
    height: 30%;
    position: absolute;
    left: 10%;
    top: 36%;
}
.ability span{
    display: block;
    width: 100%;
    color: rgb(59, 89, 152);
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2px;
    border-bottom: #ccc 1px solid;
}
.experience .plan{
    width: 90%;
    height: 30%;
    position: absolute;
    left: 10%;
    top: 70%;
}

.content .message2{
    width: 100%;
    height: 600px;
    background-color: white;
    position: absolute;
}
.content .message3{
    width: 100%;
    height: 600px;
    background-color: white;
    position: absolute;
}
.content .message4{
    width: 100%;
    height: 600px;
    background-color: white;
    position: absolute;
}
.leftNav{
    width: 200px;
    height: auto;
    background-color: rgb(59, 89, 152);
    position: absolute;
    margin-top: 2%;
    right: 77%;
    opacity: 0.9;
}
.leftNav .favicon{
    width:150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    margin: 40px auto;
    overflow: hidden;
}
.favicon img{
    position: absolute;
    width: 85%;
    left: 10px;
    top: -50px;
}
.well{
    width: 80%;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color:  rgb(131, 156, 207);
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid rgb(131, 156, 207);
    padding-bottom: 20px;
}
.motto{
    font-size: 14px;
    color:  rgb(131, 156, 207);
    line-height: 25px;
    text-align: left;
    display: block;
    width: 80%;
    margin: 20px auto;
    border-bottom: 1px solid rgb(131, 156, 207);
    padding-bottom: 30px;
}
.rightNav{
    display: inline-block;
    box-sizing: border-box;
    width:80px;
    height: 400px;
    position: absolute;
    left: 87%;
    margin-top: 2%;
    opacity: 0.9;
}
.rightNav .initclassnav{
    background-color: rgb(59, 89, 152);
}
.rightNav nav .initclassinco{
    background-color: #fff;
}
.rightNav nav inco .initclassimg{
    left: 10px;
}
.rightNav .addclassnav{
    background-color: #fff;
}
.rightNav nav .addclassinco{
    background-color: rgb(59, 89, 152);
}
.rightNav nav inco .addclassimg{
    left: -37px;
}
.rightNav .nav0{
    box-sizing: border-box;
    width:100%;
    height: 20%;
    background-color: rgb(59, 89, 152);
    position: absolute;
    top: 0;
    border: 1px solid rgb(131, 156, 207);
    transition: background-color 0.5s;
}
.rightNav .nav0:hover{
    cursor: pointer;
}
.nav0 .inco0{
    width: 55%;
    height: 55%;
    background-color: white;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 25%;
    overflow: hidden;
    position: relative;
}
.inco0 img{
    position: absolute;
    top: 4px;
    left: 0px;
}
.rightNav .nav1{
    box-sizing: border-box;
    width:100%;
    height: 20%;
    background-color: rgb(59, 89, 152);
    position: absolute;
    top: 20%;
    border-left: 1px solid rgb(131, 156, 207);
    border-right: 1px solid rgb(131, 156, 207);
    border-bottom: 1px solid rgb(131, 156, 207);
    transition: background-color 0.5s;
    
}
.rightNav .nav1:hover{
    cursor: pointer;
}
.nav1 .inco1{
    width: 55%;
    height: 55%;
    background-color: white;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 25%;
    overflow: hidden;
    position: relative;
}
.inco1 img{
    position: absolute;
    top: 7px;
    left: 0px;
}
.rightNav .nav2{
    box-sizing: border-box;
    width:100%;
    height: 20%;
    background-color: rgb(59, 89, 152);
    position: absolute;
    top: 40%;
    border-left: 1px solid rgb(131, 156, 207);
    border-right: 1px solid rgb(131, 156, 207);
    border-bottom: 1px solid rgb(131, 156, 207);
    transition: background-color 0.5s;
}
.rightNav .nav2:hover{
    cursor: pointer;
}
.nav2 .inco2{
    width: 55%;
    height: 55%;
    background-color: white;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 25%;
    overflow: hidden;
    position: relative;
}
.inco2 img{
    position: absolute;
    top: 8px;
    left: 0px;
}
.rightNav .nav3{
    box-sizing: border-box;
    width:100%;
    height: 20%;
    background-color: rgb(59, 89, 152);
    position: absolute;
    top: 60%;
    border-left: 1px solid rgb(131, 156, 207);
    border-right: 1px solid rgb(131, 156, 207);
    border-bottom: 1px solid rgb(131, 156, 207);
    transition: background-color 0.5s; 
}
.rightNav .nav3:hover{
    cursor: pointer;
}
.nav3 .inco3{
    width: 55%;
    height: 55%;
    background-color: white;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 25%;
    overflow: hidden;
    position: relative;
}
.inco3 img{
    position: absolute;
    top: 6px;
    left: 0px;
}
.rightNav .nav4{
    box-sizing: border-box;
    width:100%;
    height: 20%;
    background-color: rgb(59, 89, 152);
    position: absolute;
    top: 80%;
    border-left: 1px solid rgb(131, 156, 207);
    border-right: 1px solid rgb(131, 156, 207);
    border-bottom: 1px solid rgb(131, 156, 207);
    transition: background-color 0.5s;
    
}
.rightNav .nav4:hover{
    cursor: pointer;
}
.nav4 .inco4{
    width: 55%;
    height: 55%;
    background-color: white;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 25%;
    overflow: hidden;
    position: relative;
}
.inco4 img{
    position: absolute;
    top: 11px;
    left: 0px;
}
